*{
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
    box-sizing:border-box;
}
.divide h1{
    font-weight: 800px;
    font-size:40px;
    padding-bottom: 0.7em;
}
.divide{
    display:flex;  
}
.divide-half{
    width:50%;
    margin:4em 4em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.environment{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-size: cover;
    height:100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
}
.divide-half img{
    width:90%;
    border-radius:1em;
    
}
.divide-half p{
    max-width: 600px;
}
.repeat-color{
    color:blue;
    opacity: 0.7;
}
.btn{
    border:none;
    background-image: linear-gradient(235deg, blue, blueviolet);
    padding:1em ;
    color:white;
    border-radius:1em;
    margin-top:2em;
    cursor: pointer;
    text-decoration: none;
    width:150px;
    text-align: center;
    margin-bottom:1em;
    box-shadow: 2px 2px 5px 1px gray;
}
.recipie-intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
}
.recipie-intro h4{
    max-width:700px;
}
.recipie-intro h1{
    font-size:50px;
    margin-bottom:0.4em;
}
.box-flex{
    display:flex;
    padding:2em 4em 2em;
}
.recipes .box-flex img{
    width:100%;
    border-radius:15px;
}
.recipes .image{
    padding:1em;
}
.box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:2em;
    box-shadow:1px 1px 3px 2px rgba(0,0,255, .1);
    border-radius:15px;
}
.recipes .content{
    padding:1em 1em 2em 1em;
}
.recipes .content h1{
    padding-bottom:1em;
}
.recipes .content h4{
    padding-bottom:2em;
}
.recipes .content p{
    padding-bottom:2em;
}

.follower{
    display:flex;
    justify-content:space-around;
    align-items:center;
    box-shadow:2px 2px 5px 1px gray;
    border-radius:10px;
    padding:1em;
    margin:1em 6em 3em;
}
  
.follower .follow-count{
    text-align:center;
}
.follow-count h1{
    font-weight: 900;
    font-size:30px;
}
.follow-count p{
    font-family: cursive;
}
.review-head {
    display: flex;
    justify-content: center;
    text-align: center;
}
.review-head h4{
    max-width: 700px;
    color:brown;
    padding-bottom:2em 2em 0;
}
.revw-img img{
    border-radius:50%;
    width:30%;
}
.revw-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:5px;
}
.reviews p{
    padding:1em;
}
footer{
    background:darkblue;
}
footer h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #FFD700;
 
}
.footer-flex{
    display:flex;
    justify-content: space-between;
    padding:0.3em 6em 0.3em;
    color:gray;
}
.copy-rights{
    text-align:center;
    color:gray;
}